:root{
    --light-green: rgb(237, 252, 236);
    --light-brown: beige;
    --green: rgb(40,167,69);
    --brown: burlywood;
}

body{
    background-color: var(--light-green);
}

.nav{
    height: 100px;

}

.jumbotron{
    height: 600px;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.bg1{
    background-color: var(--light-brown);
}

.bg2{
    background-color: var(--brown);
}