/* font-family: 'Abril Fatface', cursive;
font-family: 'Lato', sans-serif; */

:root{
    --light-green: rgb(168,183,178);
    --light-brown: rgb(235,234,229);
    --green: rgb(65,86,77);
    --brown: rgb(33,26,10);

    overflow-x: hidden
}

body{
    background-color: var(--light-green);
}

.nav{
    /* height: 100px; */

}

.nav-link{
    color: var(--green);
}


.jumbotron{
    height: 500px;
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-position: right;

}

h1{
    font-family: 'Abril Fatface', cursive;
    color: var(--green)
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: white;
}

a{
    color: var(--green)
}



.sub-head{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: var(--light-green)

}

#guests{}

.guest-card{
    overflow: hidden;
    padding-top: 15px;
}

.guest-img{
    width: 100%;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.guest-name{
    ont-family: 'Lato', sans-serif; 
    font-weight: 600;
    color: var(--light-brown);
}

#tickets{
    height: 500px;
    background-image: url(/images/bg-tickets.svg);
    background-blend-mode: screen;
    color: var(--green);

}

#venue{
    background-image: url(/images/bg-venue.svg);
    background-blend-mode: screen;

}

.info-box{
    background-color: var(--light-green);
    border: solid 2px var(--light-brown);
    border-radius: 3px;;
    width: 70%;
    padding: 20px 10px;
    margin-top: 30px;
    text-align: left;
}

.bg1{
    background-color: var(--light-brown);
}

.bg2{
    background-color: var(--brown);
}

.social{
    height: 30px;
}